{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>What is a fileless attack?</h1>
<p>Fireless attacks are a piece of malware that aims to take over your computer while remaining undetected. They do not rely on a file being loaded as the name suggests, But use native apps and already built in utilities. They are executed by being directly loaded onto computer memory, bypassing normal defences and scanning as they only exist on memory. These threats leave nothing behind after execution, making them hard to find and remove. It uses existing vulnerabilities to make the system become infected, loading directly to memory and immediately being executed as system commands, which will continue until the host machine turns off. Common ways to deliver fileless malware is by webpages, by tricking a user into clicking a link that loads the code into the ram that exploits the system.
</p>
{% endblock %}