{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>How to prevent fileless attacks</h1>
<h4>Here are some tips to help you avoid Fileless attacks</h4>

<h6><b>Do not click on unknown links</b></h6>
<p>Do not click on suspicious links, as that is normally how most fileless attacks enter your system by a simple malicious link.</p>

<h6><b>Only download apps from official sites</b></h6>
<p>Only install apps from trusted sources, do not download from 3rd party sites, only stick to the main system app stores and official sites for downloading.</p>

<h6><b>Use a VPN</b></h6>
<p> without using a VPN, people with malicious intent can see your internet traffic. They really like being around public wifi spots. With said, they can possibly make an attack called man in the middle attack and execute a fileless attack on your machine.</p>

<h6><b>Update your system regularly</b></h6>
<p> fileless attacks use system vulnerabilities to exploit your computer. By updating your computer or system, you patch those vulnerabilities.</p>

<h6><b>Use trusted apps carefully</b></h6>
<p>Apps like microsoft word, powershell and windows management instrumentation should be turned off when not in use, as simple macros can cause a lot of mayhem and chaos on your computer. Macros embedded in something like a word document can run a harmful script.</p>
{% endblock %}