{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>What to do if you have been attacked?</h1>
<p>If you were the victim of a fileless attack, first identify the infection’s components, think about all of the entry points  into your computer that a hacker could use, such as outdated apps, weak admin passwords. You should consider hiring a detailed security audit  to identify your attack surface, which is the amount of unauthorised entry points into your system. A big attack surface means you have a lot of unauthorised entry points. Since fileless attacks are so well concealed, it is best to hire a professional forensics service to remove the unwanted malware.
</p>
{% endblock %}